<%- layout("/layouts/boilerplate") %>
<h3 class="title text-center"><%= result.title %></h3>
<div class="card-wrapper">
  <div class="card listing-card" style="width: 48%">
    <img src="<%= result.image.url %>" class="card-img-top indiImg" />

    <div class="card-body">
      <ul>
        <li class="title"><%= result.title %></li>
        <li><b>Owned by </b><i> <%= result.owner.username %></i></li>
        <li><%= result.description %></li>
        <li><i><%= result.location %></i></li>
        <li><b>&#8377; <%= result.price %></b> / night</li>
        <!-- tolocale fn adds commas acc to indian standards to number strings -->
      </ul>
    </div>
  </div>
  <% if(currUser && currUser._id.equals(result.owner._id)){ %>
  <div class="btn-wrapper">
    <form action="/listings/<%= result._id%>/edit" method="get">
      <button class="btn btn-sm">Edit listing</button>
    </form>
    <form action="/listings/<%= result._id%>?_method=DELETE" method="post">
      <button class="btn btn-sm">Delete</button>
    </form>
  </div>
  <% } %>


  <br />
  <% if(currUser){ %>
  <h3>Leave a Review</h3>
  <form
    class="form mb-3 form-review needs-validation"
    method="post"
    action="/listings/<%= result._id%>/reviews"
    novalidate
  >
    <div class="mb-3 mt-3">
      <label for="rating" class="form-label">Rating</label>
      <input
        name="review[rating]"
        type="range"
        min="1"
        max="5"
        class="form-range"
      />
    </div>
    <div class="mb-3 mt-3">
      <label for="comment" class="form-label">Comments</label>
      <textarea
        name="review[comment]"
        id="comment"
        class="form-control"
        cols="45"
        rows="8"
        required
      ></textarea>
      <div class="invalid-feedback">Please submit valid review</div>
    </div>
    <button class="btn btn-sm title btn-dark btn-outline">Submit</button>
  </form>
  <% } %>
  <% if(result.reviews.length>0){ %>
  <h2 class="mb-3">All reviews</h2>
  <% } %>
  <div class="row justify-content-center">
    <% for(review of result.reviews) { %>
    <div class="card col-5 mb-2 me-2" style="width: 19rem">
      <div class="card-body">
        <div class="card-title"><b><%= review.author.username %></b></div>
        <p class="card-text"><%= review.comment %></p>
        <p class="card-text"><%= review.rating %>&nbsp;stars</p>
      </div>
      <form
        action="/listings/<%= result._id%>/reviews/<%=review._id%>?_method=DELETE"
        method="post"
      >
        <button class="btn-reviews btn btn-dark btn-sm mb-2">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
</div>
